body {
  background-image: url("../imgs/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
img {
  width: 25%;
}
.clock-section {
  width: 33%;
}
.wheather-section {
  width: 30%;
}
.calender-section {
  width: 33%;
}