body {
  background-image: url("../imgs/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
@media (min-width:992px) {
  body{
height: 100vh;
  }
}